body{
	font-family: 'Arial Unicode MS';
	font-weight: 800;
	font-size: 1em;
}
ul{
    list-style-type: none;
}
.card-images{
  width:100%;
  height: 200px;
}
.detailcard-images{
  width: 100%;
}
.listing-card{
    margin-bottom: 20px;
}
.listing-card{
  width: 20%; 
}
.homepage-images {
    width: 1350px;
    height: 675px;
    max-width: 100%
}
.image-caption{

    font-family: 'Arial Unicode MS';
    color: lightgreen;
    font-weight: bolder;
}

.info-images{
    height: 100px;
}
input[type=file]{
    display: none;
}
img[data-upload=listing-image]{
    width: 40%;
    height: 40%;
}
.sd-header{
    background: #FFF;
    border-top: 4px solid teal;
    border-bottom-color: #eee; 
}

div.holoPressEffectDiv {
    background-color: #CCCCCC;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}