{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <img src="{% static 'images/header-bg.jpg' %}" class="homepage-images">
    <br />
    <br />
    <div class="w3-container">
        <div class="w3-container w3-round w3-border">
            <p class="w3-center"> So why settle down?? </p>
        </div>
        <br />
        <section class="w3-row">
            <article class="w3-container w3-third" style="margin-bottom:10px">
                <div class="w3-card-12">
                    <img src="{% static 'images/apple-iphone-smartphone-desk.jpg' %}" class="card-images">
                    <div class="w3-container w3-center">
                        <p>Create and edit your rental listing from your computer or mobile phone easily</p>
                     </div>
                 </div>
            </article>

            <article class="w3-container w3-third" style="margin-bottom:10px">
                <div class="w3-card-12">
                    <img src="{% static 'images/startup-photos.jpg' %}" class="card-images">
                    <div class="w3-container w3-center">
                        <p> View rentals anywhere in kenya at the comfort of your sofa. </p>
                     </div>
                 </div>
            </article>

            <article class="w3-container w3-third" style="margin-bottom:10px">
                <div class="w3-card-12">
                    <img src="{% static 'images/Notifications_(Echo)-logo.png' %}" class="card-images">
                    <div class="w3-container w3-center">
                        <p>Sign up to either receive alerts for your ideal location and price range to find out about new places before anyone else.</p>
                     </div>
                 </div>
            </article>
        </section>
{% endblock %}